@use "../../01_settings/design-tokens" as dt;

/* Tooltip container */
.cu-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip content */
.cu-tooltip .cu-tooltip-content {
  visibility: hidden;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: dt.$border-radius;

  /* Position the tooltip content */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translate(-50%, 0);

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  /* Tooltip arrow */
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.cu-tooltip:hover .cu-tooltip-content {
  visibility: visible;
  opacity: 1;
}