@use "../../01_settings/design-tokens" as dt;
@use "../../02_tools/functions";
@use "../../02_tools/mixins";

.cu-check {
  display: block;
  min-height: 1.5em;

  // Make the label and input line up with each other
  & > * {
    vertical-align: middle;
  }

  & .cu-check__input {
    width: 1em;
    height: 1em;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include mixins.checkbox-border;
    appearance: none;
    
    &[type=checkbox] {
      border-radius: dt.$border-radius;
    }
    &[type=radio] {
      border-radius: 50%;
      &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
      }
    }
    
    &:checked {
      background: dt.$primary;
      border-color: dt.$primary;
      
      &[type=checkbox] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }
    }
    &:disabled {
      opacity: 0.5;
      & ~ .cu-check__label {
        color: dt.$text_inactive;
      }
    }
  }

  & .cu-check__label {
    display: inline-block;
    margin-left: 0.5rem;
  }

}

.cu-form--was-validated {
  & .cu-check__input:invalid {
    border-color: dt.$notification_error;

    & ~ .cu-check__label {
      color: dt.$notification_error;
    }

    & ~ .cu-form__help-text {
      display: none;
    }
    & ~ .cu-form__invalid-text {
      display: block;
    }
  }

  & .cu-check__input:valid {
    border-color: dt.$notification_success;
    &:checked {
      background-color: dt.$notification_success;
    }

    & ~ .cu-check__label {
      color: dt.$notification_success;
    }
  }
}
